<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.Travel.mapper.SalesHistoryMapper">
	
	<select id="getListCount" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(ord.ord_id) FROM `order` ord JOIN staff stf ON ord.stf_id = stf.stf_id
		<if test="search == true">
			WHERE ord.ord_memo LIKE CONCAT('%',#{memo_search},'%')
			<if test="end_date != null and end_date neq ''">
			AND ord.ord_date &lt;= #{end_date}
			</if>
			<if test="begin_date != null and begin_date neq ''">
			AND ord.ord_date &gt;= #{begin_date}
			</if>
			<if test="min_price != null and min_price neq ''">
			AND ord.ord_total &gt;= #{min_price}
			</if>
			<if test="max_price != null and max_price neq ''">
			AND ord.ord_total &lt;= #{max_price}
			</if>
			<if test="phone_search != null and phone_search neq ''">
			AND ord.pot_id LIKE CONCAT('%',#{phone_search},'%')
			</if>
			<if test="pmt_search != null and pmt_search neq ''">
			AND ord.pmt_name = #{pmt_search}
			</if>
			<if test="staff_search != null and staff_search neq ''">
			AND ord.stf_id = #{staff_search}
			</if>
			<if test="cancel_search != null and cancel_search neq ''">
			AND ord.ord_cancel = #{cancel_search}
			</if>
		</if>
	</select>
	
	<select id="getList" parameterType="java.util.Map" resultType="orderBean">
		SELECT * FROM `order` ord JOIN staff stf ON ord.stf_id = stf.stf_id 
		<if test="search == true">
			WHERE ord.ord_memo LIKE CONCAT('%',#{memo_search},'%')
			<if test="end_date != null and end_date neq ''">
			AND ord.ord_date &lt;= #{end_date}
			</if>
			<if test="begin_date != null and begin_date neq ''">
			AND ord.ord_date &gt;= #{begin_date}
			</if>
			<if test="min_price != null and min_price neq ''">
			AND ord.ord_total &gt;= #{min_price}
			</if>
			<if test="max_price != null and max_price neq ''">
			AND ord.ord_total &lt;= #{max_price}
			</if>
			<if test="phone_search != null and phone_search neq ''">
			AND ord.pot_id LIKE CONCAT('%',#{phone_search},'%')
			</if>
			<if test="pmt_search != null and pmt_search neq ''">
			AND ord.pmt_name = #{pmt_search}
			</if>
			<if test="staff_search != null and staff_search neq ''">
			AND ord.stf_id = #{staff_search}
			</if>
			<if test="cancel_search != null and cancel_search neq ''">
			AND ord.ord_cancel = #{cancel_search}
			</if>
		</if>
		ORDER BY ord.ord_id DESC LIMIT #{pageBean.startRow},#{pageBean.pageSize}
	</select>
	
</mapper>