<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Travel.mapper.StockMapper">
	<select id="selectStockList" resultType="stock">
		select * from stock
	</select>
	
	<select id="selectStock" resultType="stock">
		select * from stock where stc_id=#{stc_id}
	</select>
	
	<insert id="insertStock" parameterType="stock" useGeneratedKeys="true" keyProperty="id">
		insert into stock values(#{stc_id }, #{stc_name }, #{stc_count }, #{stc_cost }, now(), #{ctg_id })
	</insert>
	
	<update id="updateStock">
		update stock set stc_name=#{stc_name}, stc_count=${stc_count}, stc_cost=#{stc_cost} where stc_id=${stc_id}
	</update>
	
	<delete id="deleteStock">
		delete from stock where stc_id=#{stc_id}
	</delete>
</mapper>